.footer {
  background: rgb(64, 64, 64);
  background: linear-gradient(
    152deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(47, 47, 47, 1) 52%,
    rgba(29, 29, 29, 1) 73%
  );
}

.line {
  margin: 10px 0 20px 0;
  border: 1px solid white;
  border-radius: 10px;
}

.socialMediaTitle {
  text-align: center;
  font-size: 25px;
  color: white;
}

.sectionFooter p {
  color: #808080;
}

.sectionFooter p:hover {
  color: white;
}

.socialMediaIcons img {
  width: 40px;
}

.socialMediaIcons a :hover {
  border-radius: 30px;
  border: #808080 2px solid;
}
