<footer class="text-center text-lg-start text-muted footer">
  <section class="pt-1">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 sectionFooter">
          <h6 class="socialMediaTitle">Productos</h6>
          <hr class="line" />
          <p>
            <a href="#!" class="text-reset">Ver todas</a>
          </p>
          <p>
            <a href="#!" class="text-reset">AKT</a>
          </p>
          <p>
            <a href="#!" class="text-reset">BMW</a>
          </p>
          <p>
            <a href="#!" class="text-reset">KTM</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Honda</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="socialMediaTitle text text-center">Redes Sociales</h6>
          <hr class="line" />
          <section class="d-flex justify-content-center pt-1 pb-3s">
            <div class="socialMediaIcons">
              <a href="www.facebook.com" class="me-4" target="_blank">
                <img [src]="facebookIcon" alt="FacebookIcon" />
              </a>
              <a href="www.instagram.com" class="me-4" target="_blank">
                <img [src]="instagramIcon" alt="InstagramIcon" />
              </a>
              <a href="www.whatsapp.com" class="me-4" target="_blank">
                <img [src]="whatsappIcon" alt="WhatsappIcon" />
              </a>
              <a href="www.twitter.com" target="_blank">
                <img [src]="twitterIcon" alt="TwitterIcon" />
              </a>
            </div>
          </section>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 sectionFooter">
          <h6 class="socialMediaTitle">Nosotros</h6>
          <hr class="line" />
          <p>
            <a href="#!" class="text-reset">Sobre Nosotros</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Preguntas Frecuentes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Contacto</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2022 Copyright:
    <a
      class="text-reset fw-bold"
      href="https://www.linkedin.com/in/juanestebangomezroa/"
      target="_blank"
      >JG -
    </a>
    <a
      class="text-reset fw-bold"
      href="https://www.linkedin.com/in/maicolandres/"
      target="_blank"
      >MN</a
    >
  </div>
</footer>
